/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
web/css/*
web/js/*
!web/uploads/.gitkeep
/app/bootstrap.php.cache
/composer.phar
backups/
web/sitemap*xml*
.idea
.DS_Store
node_modules/*
/app/Resources/svg/optimized
