{% extends 'base.html.twig' %}

{% block body %}
        <div class="flex-center position-ref full-height">

            <div class="content">
                <div class="title m-b-md">
                    <img style="max-width: 200px; width: 200px;" src="{{ asset('logo.jpg') }}">
                </div>
                <div class="title m-b-md">
                    DualHand
                </div>
                <div class="links">
                    <a href="https://citope.com">Citope</a>
                    <a href="https://github.com/dualhand">GitHub</a>
                </div>
            </div>
        </div>
{% endblock %}
